<%= render "layouts/navbar" %>

<!------ Include the above in your HEAD tag ---------->


<% if @post.errors.full_messages.any? %>
<div class="alert alert-danger" role="alert">
  <% @post.errors.full_messages.each do |error_message| %>
    <%= error_message if @post.errors.full_messages.first == error_message %> <br />
  <% end %>
  </div>
<% end %>     





<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section id="team" class="pb">
        <div class="container register-form">
            <div class="form">
                <div class="note">
                <h1 style="color: #007b5e;">Add New Post</h1>

                </div>
                <%= form_for @post do |f| %>

                <div class="form-content">
                    <div class="row">
                        <div class="form-group">
                        <%= f.text_field(:title,class:"form-control",placeholder:"title") %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                     <%= f.text_area(:body, size: "24x6",class:"form-control",placeholder:"body") %>
                        </div>
                    </div>
                </div>
                    <%= f.hidden_field(:user_id,value:"1") %>
                    <%= f.submit %>
          
                <% end %>

                </div>
            </div>

    </div>
</section>
<!-- Team -->
