<%= render "layouts/navbar" %>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">All Posts</h5>
        <div class="row">
            <!-- Team member -->
            <% @posts.each do |post| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h4 class="card-title"><%= post.title %></h4>
                                    <p class="card-text"><%= post.updated_at %></p>
                                    <hr/>
                                    <p class="card-text"><%= post.body %></p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                        <%= link_to '<button type="button" class="btn btn-info">Show</button>'.html_safe, post_path(post.id) %>
                                        <br>
                                        <br>
                                        <%= link_to '<button type="button" class="btn btn-warning">Edit</button>'.html_safe, edit_post_path(post.id) %>
                                        <br>
                                        <br>
                                        <%= button_to 'Destroy', post, method: :delete, class:"btn btn-danger" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
            <!-- ./Team member -->
           
           
          
        </div>
    </div>
</section>
<!-- Team -->


                            